*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.main {
  width: 50%;
  margin: 5rem auto;
  border: 1px solid darkgray;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  padding: 1rem;
}

h2 {
  font-size: 2.5rem;
}

.icon {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.reload {
  position: relative;
}

.number {
  display: block;
  height: 1rem;
  width: 1rem;
  background: red;
  color: white;
  position: absolute;
  top: 0;
  left: 40%;
  border-radius: 50%;
}

.form-container {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid darkgray;
}

.form {
  width: 85%;
}

.add-here {
  border: none;
  width: 100%;
  font-size: 1.25rem;
}

svg {
  height: 24px;
  width: 24px;
}

.add-here::placeholder {
  font-style: italic;
}

.add-here:focus {
  outline: none;
}

.add:hover {
  color: red;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid darkgray;
  position: relative;
}

.left {
  display: flex;
  align-items: center;
  width: 70%;
}

.checkbox {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.5rem;
}

.content {
  font-size: 1.5rem;
  width: 100%;
  padding: 0.5rem 0;
}

.hidden {
  display: none;
}

.three-dots {
  cursor: move;
}

.clear {
  background-color: #f4f4f4;
}

.clear-btn {
  display: block;
  height: 3rem;
  width: 100%;
  background: transparent;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
}

.clear-btn:hover {
  color: red;
}

.change-text {
  position: absolute;
  width: 60%;
  left: 7%;
  outline: none;
  height: 2.5rem;
  background-color: lightyellow;
  border: none;
  font-size: 1.25rem;
}

.change-text:focus {
  outline: none;
}

.line-through {
  text-decoration: line-through;
}
